<div class="container">
    <h1>Login to your account</h1>
    <% if flash[:error] %>
        <p><%= flash[:error] %></p>
    <% end %>
    <%= form_for :session, url: login_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.submit "Login" %>
    <% end %>

    <p>Don't have an account? <%= link_to "Sign up", signup_path %></p>
    <h3> Or login with</h3>

    <div class="omniauth-container">
    <%= button_to '/auth/google_oauth2', method: :post, class: 'google' do %>
        <%= icon('fab', 'google') %>
    <% end %>    
    <%= button_to '/auth/facebook', method: :post, class: 'facebook' do %>
        <i class="fa-brands fa-facebook-f"></i>
    <% end %>
</div>

</div>



